@keyframes ldio-6hf3qgreiib {
    0% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 23px;
        left: 23px;
        width: 34px;
        height: 34px;
        opacity: 0;
    }
}

.ldio-6hf3qgreiib div {
    position: absolute;
    border-width: 10px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    animation: ldio-6hf3qgreiib 0.38759689922480617s cubic-bezier(0,0.2,0.8,1) infinite;
}

.ldio-6hf3qgreiib div:nth-child(1) {
    border-color: #222222
}

.ldio-6hf3qgreiib div:nth-child(2) {
    border-color: #00d8ff;
    animation-delay: -0.19379844961240308s;
}

.loadingio-spinner-ripple-hkkmnhicj0k {
    width: 58px;
    height: 58px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
}
.ldio-6hf3qgreiib {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.58);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-6hf3qgreiib div { box-sizing: content-box; }